<form (ngSubmit)="addContact()">
    <div class="form-item-image">
        <img [src]="model.picture">
        <input type="file" accept=".png,.jpg,.jpeg" (change)=addImage($event)>
    </div>
    <div class="form-item">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="model.name" name="name" required #nameControl>
    </div>
    <div class="form-group">
        <p>Phones:</p>
        <div class="form-item" *ngFor="let phone of model.phones; index as i">
                <label for="phone-type">Phone</label>
                <select id="phone-type" [(ngModel)]="model.phones[i].type" name="phone-{{i}}-type">
                    <option [value]="type" *ngFor="let type of phoneTypes">{{type}}</option>
                </select>
                <input type="tel" id="phone-number" [(ngModel)]="model.phones[i].number" name="phone-{{i}}-number">
        </div>
        <p class="form-action" (click)="addNewPhoneToModel()">Add phone +</p>
    </div>
    <div class="form-item">
        <label for="email">Email:</label>
        <input type="text" id="email" [(ngModel)]="model.email" name="email">
    </div>
    <div class="form-item">
        <label for="address">Adress:</label>
        <input type="text" id="address" [(ngModel)]="model.direction" name="adress" >
    </div>
    <button class="form-button" type="submit">Add contact</button>
</form>

<p>{{nameControl.className}}</p>