.form-item {
    margin: 16px;
    width: 300px;
    display: flex;

    label{
        width: 80px;
        max-width: 80px;
        display: inline-block;
    }

    & > * {
        flex-grow: 1;
    }
}

.form-button {
    width: 300px;
    margin: 6px 16px 0px 16px;
}